<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test AngularJS</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/helmet-1/154/droid-android-helmet-star-wars-512.png" type="star-wars">
    <script src="libs/angularJs/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body data-ng-app="testPageApp">

    <div class="side-bar">
        <h1>Main</h1>
        <ul class="nav-list">
            <li>Overview</li>
        </ul>
    </div>

    <div class="content flex-class center-center-class" data-ng-controller="testPageCtrl">
        <div class="items box-shadow-class">
            <h3>Items</h3>
            <div class="item-add-block flex-class center-between-class">
                <input type="text" data-ng-model="itemName" data-ng-keyup="submitAddItem()" maxlength="30" placeholder="Type name here...">
                <input data-ng-click="addItem()" type="button" value="Add new">
            </div>
            <ul class="item-list">
                <li data-ng-repeat="oneItem in items | orderBy:'oneItem.data':true track by $index" data-ng-class="{'active': selectedItemId === oneItem.id}" data-ng-click="selectItem(oneItem.id)">
                    <div class="item flex-class center-between-class" ng-show="dataLoaded === true">
                        <p>{{ oneItem.name }}<i class="comment-count">{{oneItem.comments.length}}</i>
                        </p>
                        <input data-ng-click="removeItem(oneItem.id)" type="button" value="Delete">
                    </div>
                </li>
            </ul>
        </div>
        <div class="comments flex-class center-between-class box-shadow-class">
            <h3>Comments {{ selectedItemId }}</h3>
            <ul class="comments-list">
                <li data-ng-repeat="oneComment in getComments() | orderBy:'oneComment.data':true track by $index">
                    <div class="comment flex-class" ng-show="dataLoaded === true">
                        <a href="#">
                            <img src="https://cdn4.iconfinder.com/data/icons/helmet-1/154/droid-android-helmet-star-wars-512.png" alt="user">
                        </a>
                        <p>{{ oneComment.massage }}</p>
                    </div>
                </li>
            </ul>
            <div class="send-comment">
                <a href="#">
                    <img src="https://cdn4.iconfinder.com/data/icons/helmet-1/154/droid-android-helmet-star-wars-512.png" alt="user">
                </a>
                <textarea data-ng-keyup="addComment()" data-ng-model="commentMassage" data-ng-disabled="selectedItemId === undefined || selectedItemId === null" placeholder="Press Ctrl+Enter to send a comment"></textarea>
            </div>
        </div>
    </div>

</body>

</html>